body {
    background: url("../images/products_bg.png") fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    width: 100%;
}

.pd-info {
    background-color: rgba(255, 255, 255, 0.7)
}

.card-img-top {
    object-fit: cover;
    object-position: center;
    height: 250px;
}

a:hover {
    color: blue;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
}

.card-body h5 {
    margin-bottom: 10px;
}

.card-body p {
    margin-bottom: 15px;
}

.card-body .btn {
    margin: 5px 0;
    width: 100%;
}
